# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
NODE_ENV=development
PORT=3002
JWT_SECRET=auth-service

DEFAULT_STUDENT_PASS=st1234@
DEFAULT_FACULTY_PASS=fc1234@
DEFAULT_ADMIN_PASS=ad1234@

BCRYPT_SALT_ROUNDS=12


JWT_SECRET='very-secret'
JWT_REFRESH_SECRET='resfresh-secret'
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=365d

# TOKEN =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjIzMDEwMDAwMSIsInJvbGUiOiJzdHVkZW50IiwiaWF0IjoxNjkyODA5NjM3LCJleHAiOjE2OTI4OTYwMzd9.H3DUGyCMKFeGhARh6uGywVaqvp6T5Z3BfsbjqqkKn7Y

DATABASE_URL="postgresql://postgres:maheenur13.@localhost:5432/um-core-service?schema=public"


REDIS_URL='redis://localhost:6379'

REDIS_TOKEN_EXPIRES_IN=846000